h1 {
  color: green;
}

.main h1 {
  color: ;
}

div h1 {
  color: red;
}

.main > p {
  color: blue;
}

/* + predstavlja prvi element nakon  */
div + p {
  color: ;
}

/* Ako nekom html tagu dodelimo klasu i id i primenmo stilove koji nisu isti, prednost primene ima id u odnosu na klasu. */

#childdiv {
  background-color: blue;
}

.childdivclass {
  background-color: ;
}
