* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

img {
  width: 500px;
  height: 60vh;
  margin-right: 1rem;
  float: left;
}

.first {
  width: 500px;
  height: 55vh;
  background-color: aqua;
  clear: both;
  float: left;
}

.second {
  width: 40%;
  width: 75vh;
  background-color: bisque;
  float: right;
}
